<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698396011367-gncp4hjqeq0l46lsf3efhpm4n55m89ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698396011367-gncp4hjqeq0l46lsf3efhpm4n55m89ev</string>
	<key>API_KEY</key>
	<string>AIzaSyBuPOBC5Yk8ZroihauqzF_TbjQNkNXGaxw</string>
	<key>GCM_SENDER_ID</key>
	<string>698396011367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingdomworkhere.whomeam</string>
	<key>PROJECT_ID</key>
	<string>whomeam-74a91</string>
	<key>STORAGE_BUCKET</key>
	<string>whomeam-74a91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698396011367:ios:a1ccb16264ecbd64a9ddc2</string>
</dict>
</plist>